.cont-form{
    width: 50%;
}
.cont-form form{
    padding: 10px 30px 40px;
    background: var(--amarillo);
    border-radius: 30px;
}
.cont-form form .item-form:not(:first-child, :nth-child(2)){
    width: calc( 50% - 20px);
    display: inline-block;
}

.cont-form :is(form, form .item-form) {
    vertical-align: top;
}

.cont-form .item-types{
    width: 20%;
    display: inline-block;
    font-size: 17px;
    text-transform: capitalize;
}
.cont-form .cont-types{
    padding-inline: 10px
}
.cont-form .cont-types > label{
    font-weight: 700;
    font-size: 18px;
    color: var(--violetaoscura);
    padding: 0 0 5px 10px;
}
.error-form{
    text-align: center;
    line-height: 1.2;
    color: #f00;
    margin-block: 11px 0;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px 7px;
    font-size: 16px;
    margin-top:15px;
    background: #ffffff4f;
}


/* CHECKBOX*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    line-height: 1.7;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--violeta);
    background: var(--blanco);
    border-radius: 50%;
    box-shadow: 2px 2px 3px var(--violetaoscura);
    -webkit-transition: var(--transition);
            transition: var(--transition);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✓';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 20px;
    font-weight: 700;
    color: var(--violetaoscura);
    line-height: 0;
    -webkit-transition: all .2s;
            transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
}

/* END CHECKBOX */


.cont-form .btn{
    display: table;
    margin: 30px auto 0;
    padding: 14px 30px 16px;
    border-radius: 3px;
    border: 0;
    color: var(--blanco);
    font-size: 19px;
    font-weight: 700;
    word-spacing: 0.5px;
    line-height: 1.2;
    background: var(--violeta);
    box-shadow: 2px 2px 3px var(--violetaoscura);
    transition: var(--transition);
}

.cont-form .btn:hover{
    background: var(--rosa);
}
