.nav-bar{
    width: 100%;
    padding-block: 10px;
    background: var(--violeta);
    box-shadow: 0 2px 5px var(--violetaoscuro);
    display: flex;
    justify-content: center;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont-logo-nav {
    -display: inline;
}
.cont-logo-nav .logo-nav{
    width: 280px;
    margin-bottom: -50px;
}


.nav-menu .item-nav-menu{
    padding: 5px 8px 2px;
    color: var(--blanco);
    text-decoration: none;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.60px;
    display: inline-block;
    margin: 5px 7px 0;
}
.nav-menu .item-nav-menu:hover{
    transition: all ease 0.2s;
    color: var(--rosa);
    text-shadow: 1px 2px 3px var(--violetaoscura);
    border-bottom: 2px solid var(--violetaoscura);
}
.nav-menu .item-nav-menu-selected{
    border-bottom: 2px solid var(--violetaoscura);
}

@media(max-width:767px){

    .nav-bar .container{
        flex-direction: column;
    }
    .cont-logo-nav .logo-nav{
        width: 220px;
        margin-bottom: 20px;
    }

}