:root {
  --violeta: #5646b7;
  --violetaoscura: #342785;
  --rosa: #ed8599;
  --amarillo: #ffcb05;
  --grisoscuro: #333333;
  --negro: #000000;
  --blanco: #ffffff;
  --font:'Bebas Neue', 'sans-serif';
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
