.cont-create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-create > .container{
    padding-block: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.cont-types label:first-child{
    display: block;
}
.cont-types label.item-types{
    display: inline-block;
}

.cont-create  h1{
    margin: 80px auto 0;
    font-size: 45px;
}

.sweet-alert .btn.btn-primary{
    text-decoration: none;
    padding: 14px 30px 17px;
    background: var(--rosa);
    border-radius: 3px;
    color: var(--blanco);
    font-weight: 700;
    transition: var(--transition);
}
.sweet-alert .btn.btn-primary:hover{
    background: var(--violeta);

}

@media(max-width: 992px){
    
}