.cont-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-block: 80px 50px;
}
.cont-home .container{
    display: flex;
    flex-direction: row;
}

.img-loading{
    display: table;
    margin-inline: auto
}
@media(max-width:768px){
    .cont-home{
        padding: 20px 10px 30px;
    }
    .cont-home .container {
        flex-direction: column;
    }
}