.cont-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 50px;
}
.cont-home .container{
    display: flex;
    flex-direction: row;
}