.cont-no-result{
    display: table;
    margin-inline: auto
}

.cont-no-result img{
    margin-left: -22px;
    width: 250px;
}

.cont-no-result h2{
    text-align: center;
    font-size: 45px;
    color: var(--rosa);
}