.cont-DetailsPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading{
    display: table;
    margin: 25vh auto 0;
}

.cont-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.cont-title .container{
    display: flex;
    justify-content: flex-end;
}

.cont-title h1{
    font-size: 100px;
    line-height: 1;
    margin-block: 180px -40px;
    font-style: italic;
    text-shadow: 3px 2px #ffffff;
    color: var(--rosa);
}


.detailsPokemon{
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--violeta);
    margin-bottom: 80px;
    padding-block: 70px 50px;
}

.detailsPokemon .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailsPokemon .cont-image img{
    width: 600px;
    margin-top: -22%;
    margin-bottom: -10%;
    display: block;
    max-height: 650px;
}

.detailsPokemon .cont-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.detailsPokemon .cont-details ul{
    padding-left: 0;
    list-style: none;
}
.detailsPokemon .cont-details > ul li{
    display: inline-block;
    width: 33%;
}
.detailsPokemon .cont-details > ul li :is(h4, span){
    display: inline-block;
    font-style: italic;
}
.detailsPokemon .cont-details > ul li h4{
    font-size: 20px;
    font-weight: 100;
    margin-right: 4px;
    color: #FFF;
    margin-block: 0 15px;
}
.detailsPokemon .cont-details > ul li span{
    font-family: var(--fonttitle);
    font-size: 30px;
    color: var(--amarillo)
}

.detailsPokemon .cont-details .cont-types{
    width: 100%;
}
.detailsPokemon .cont-details .cont-types h4{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    color: var(--blanco);
    margin-block: 0;
    line-height: 1;
}

.detailsPokemon .cont-details .cont-types ul{
    margin-top:0
}

.detailsPokemon .cont-details .cont-types ul li {
    font-family: var(--fonttitle);
    font-size: 30px;
    color: var(--amarillo);
    font-style: italic;
    width: fit-content;
    display: inline-block;
}
.detailsPokemon .cont-details .cont-types ul li:not(:last-child){
    padding-right: 20px;
}
.detailsPokemon .cont-details .cont-types ul li:not(:last-child):after{
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin: 15px 0 0 9px;
    background: var(--blanco);
}


.cont-DetailsPokemon .pokemon {
    width: calc(100% - 34px);
}

.cont-DetailsPokemon .cont-carrusel{
    padding-block: 40px 80px;
}
.cont-DetailsPokemon .cont-carrusel h2{
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 30px;
}

.cont-DetailsPokemon .cont-carrusel h2 ~ span{
    text-align: center;
    display: table;
    margin: 0 auto 20px;
    padding: 4px 15px 7px;
    border-radius: 30px;
    color: var(--violeta);
    border: 1px solid var(--violeta)

}

.cont-DetailsPokemon .cont-carrusel .styles-module_carousel-base__3keqD {
    align-items: center;
}

.cont-DetailsPokemon .cont-carrusel .styles-module_carousel-base__3keqD svg path{
    fill: var(--violeta)!important;
}
div.cont-carrusel > div > div > :is(div:nth-child(1), div:nth-child(3)){
    border: 1px solid var(--violetaoscura);
    box-shadow: 2px 2px 3px var(--violetaoscura);
    width: 30px;
    text-align: center;
    height: 27px;
    padding-top:2px;
    border-radius: 50%;
    transition: var(--transition);
}
div.cont-carrusel > div > div > :is(div:nth-child(1), div:nth-child(3)):hover{
    background: var(--amarillo);
}


div.cont-carrusel > div > div > div:nth-child(1){
    margin-left: -20px;
}

div.cont-carrusel > div > div > div:nth-child(3){
    margin-right: -20px;
}
@media(max-width: 992px){
    .detailsPokemon .pokemon{
        width: calc(100% - 34px);
        max-width: 300px;
    }
}

@media(max-width: 768px){
    .detailsPokemon .container {
        flex-direction: column;
    }
    .cont-title h1 {
        font-size: 60px;
        margin: 100px 10px 10px;
    }
    .detailsPokemon .cont-details{
        max-width: 420px;
        margin-inline: auto;
        margin-top: 20px;
    }
    .detailsPokemon .cont-image img {
        width: 100%;
        margin-top: -22%;
        margin-bottom: 0;
    }
    .cont-carrusel{
        width: calc(100% - 50px);
    }

    
}

@media(max-width:425px){
    .cont-carrusel .pokemon .pokemon-img img {
        height: 70px;
    }
    .cont-carrusel .pokemon h3 {
        font-size: 20px;
        margin-block: 10px 0;
    }
    .cont-DetailsPokemon .cont-carrusel .pokemon {
        width: calc(100% - 24px);
        margin-inline: 10px;
    }
    .cont-carrusel .pokemon-type {
        display: none;
    }
    .cont-carrusel .pokemon .btn-see-details{
        font-size: 10px;
    }

}